
<h2>Lista de Usuarios</h2>
<table class="table table-bordered">
 <thead>
   <tr>
     <th>Name</th>
     <th>Lastname</th>
     <th>Image</th>
       <th>email</th>
       <th>Phone</th>
       <th>Type</th>
       <th>Description</th>
   </tr>
 </thead>
 <tr *ngFor="let user of usuarios">
   <td>{{user.name}}</td>
   <td>{{user.lastname}}</td>
     <td><img [src]="user.image" width="110" height="110" /></td>
     <td>{{user.email}}</td>
     <td>{{user.phone}}</td>
     <td>{{user.type}}</td>
     <td>{{user.description}}</td>
 </tr>
</table>
