<div class="container">
    <h2> Sign Up in AMARU </h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label for="nombre">Name</label>
        <input type="text" class="form-control" id="nombre" formControlName="nombre" required>
      </div>
  
      <div class="form-group">
        <label for="lastname">Lastname</label>
        <input type="text" class="form-control" id="lastname" formControlName="lastname">
      </div>
  
      <div class="form-group">
        <label for="image">Url Image</label>
        <input type="text" class="form-control" id="image" formControlName="image">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" formControlName="email">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password">
      </div>

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" formControlName="username">
      </div>

      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" id="phone" formControlName="username">
      </div>



      <div class="container">
        <label >Type of User</label>
        <p>Teach as Instructor, Learn as Amaru</p>
        <select class="form-control" id="type">
          <option value="instructor">Instructor</option>
          <option value="amaru">Amaru</option>
        </select>
      </div>


      <br><br>
      <button type="submit" class="btn btn-success">Registrarse</button>
  
    </form>
  </div>