<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Edit Info</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style>
        h1 {
            font-weight: bold;
            color: #333333;
        }
        h2{
            text-align: center;
        }
        .bg-1 {
            background-color: #474e5d; /* Green */
            color: #ffffff;
        }
        .bg-2 {
            background-color: #1abc9c; /* Dark Blue */
            color: #ffffff;
        }
        .bg-3 {
            background-color: #fff; /* White */
            color: #555555;
        }
        .btn {
            padding: 10px 20px;
            background-color: #333;
            color: #f1f1f1;
            border-radius: 0;
            transition: .2s;
        }
    </style>
</head>
<body >



<div class="container">
    <form [formGroup]="userForm" >

<div class="container-fluid bg-1 text-center">
    <h3>{{user.type}}</h3>
    <img [src]="user.image" class="img-circle" width="200" height="200" />
    <button type="button" style="position: absolute; right: 0;" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#editImage" >Edit Image</button>
    <h3>{{user.name}} {{user.lastname}}</h3>
</div>

<div class="container-fluid bg-2 text-center">
    <button type="button" style="position: absolute; right: 0;"class="btn btn-primary btn-lg"  data-toggle="modal" data-target="#editEmail">Edit Email</button>
    <h3>Contact</h3>
    <button type="button" style="position: absolute; right: 0;"class="btn btn-primary btn-lg"   data-toggle="modal" data-target="#editPhone">Edit Phone</button>
    <p>Email: {{user.email}}</p>
    <p>Phone: {{user.phone}}</p>

</div>

<div class="container-fluid bg-3 text-center">
    <button type="button" style="position: absolute; right: 0;"class="btn btn-primary btn-lg"  data-toggle="modal" data-target="#editDescription">Edit Description</button>
    <h3>Description</h3>
    <p>{{user.description}}</p>

</div>


<div class="container">
    <h2>Cursos Actuales</h2>
    <p>Cursos Actuales Ofrecidos:</p>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
        </tr>
        </tbody>
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="editImage" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Url Image</h4>
            </div>
            <div class="modal-body">
                <p>New Image Url:</p>
                <input id="newImage" formControlName="newImage" class="form-control mr-sm-2" type="text" placeholder="newImage" aria-label="newImage">
                <button type="button" class="btn btn-default" onclick="myFunction()" (click)="onSubmitImage()">Save</button>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="editEmail" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Email</h4>
            </div>
            <div class="modal-body">
                <p>New Email:</p>
                <input id="newEmail" formControlName="newEmail" class="form-control mr-sm-2" type="text" placeholder="newEmail" aria-label="newEmail">
                <button type="button" class="btn btn-default" onclick="myFunction()" (click)="onSubmitEmail()">Save</button>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editPhone" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Phone</h4>
            </div>
            <div class="modal-body">
                <p>New Phone:</p>
                <input id="newPhone"  formControlName="newPhone" class="form-control mr-sm-2" type="number" placeholder="newPhone" aria-label="newPhone">
                <button type="button" class="btn btn-default" onclick="myFunction()" (click)="onSubmitPhone()">Save</button>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editDescription" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Description</h4>
            </div>
            <div class="modal-body">
                <p>New Description:</p>
                <input id="newDescription" formControlName="newDescription" class="form-control mr-sm-2" type="text" placeholder="newDescription" aria-label="newDescription">
                <button type="button" class="btn btn-default" onclick="myFunction()" (click)="onSubmitDescription()">Save</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
    </form>

</div>
</body>
</html>
